/.vscode
/callmebot1.py
/cobagraph.py
/dht11sql.py
/mqttclient.py
/mqtt_pyqt.py
/plotdht.py
/pypiwhatsapp.py
/testmysql.py
/testopenai.py
/testplot.py
/testpyqt.py
/testpyqt2.py
/testWAbot
/trial.py
/uas.py
/uas2.py
/uas3.py
/uas4.py
/uaswinton.py
/uaswinton2.py
/uts.py
/yesypyqt.py
/__pycache__